Repository barbaraschiavinato/accelerator-component-library: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier --fix, npm run lint --fix, npm run test:ci

feat: add css
  .github/workflows/deploy-storybook.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
  vite.config.ts
Due: none

chore(release): v0.17.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: add css prefix
  .prettierignore
  .prettierrc
  lib/components/formElements/Button/configs/variants.ts
  lib/components/formElements/ErrorMessage/index.tsx
  lib/components/formElements/Input/index.tsx
  lib/components/formElements/Label/index.tsx
  lib/components/layoutElements/Container/index.tsx
  lib/components/layoutElements/Spinner/index.tsx
  lib/components/listElements/Item/index.tsx
  lib/components/listElements/List/index.tsx
  package-lock.json
  package.json
  tailwind.config.js
  vscode.code-workspace
Due: npm run prettier --fix, npm run lint --fix, npm run test:ci

chore(release): v0.18.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: add prefix for stiles
  README.md
  tailwind.config.js
Due: none

feat: add prefix for stiles
  package-lock.json
Due: none

chore(release): v0.19.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: update content
  .github/workflows/release.yml
  .gitignore
  README.md
  vscode.code-workspace
Due: none

chore(release): v0.19.1-rc.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: add the standards
  .github/workflows/release.yml
  README.md
Due: none

chore(release): v0.20.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: test minor
  README.md
Due: none

fix: trigger the storybook only after release
  .github/workflows/deploy-storybook.yml
Due: none

chore(release): v0.20.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(JIRA-1009): subject of the commit
  README.md
Due: none

chore(release): v0.21.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: simplify content
  .github/workflows/deploy-storybook.yml
  .github/workflows/pull-request.yml
  package.json
  tsconfig.build.json
  vite.config.ts
Due: none

fix: change workflow
  .github/workflows/pull-request.yml
Due: none

fix: fix test
  lib/components/formElements/Button/Button.test.tsx
Due: npm run prettier --fix, npm run lint --fix, npm run test:ci

fix: update quotes
  .github/workflows/release.yml
  README.md
  package-lock.json
  package.json
Due: none

fix: rename workflow
  .github/workflows/quality-check.yml
Due: none

chore(release): v0.21.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: add type check
  .github/workflows/quality-check.yml
  .lintstagedrc
  package.json
Due: none

feat: extend button
  .lintstagedrc
  lib/components/formElements/Button/Button.mdx
  lib/components/formElements/Button/Button.stories.ts
  lib/components/formElements/Button/Button.test.tsx
  lib/components/formElements/Button/Button.tsx
  lib/components/formElements/Button/configs/variants.ts
Due: npm run prettier --fix, npm run lint --fix, npm run test:ci

fix: format document
  lib/components/formElements/Button/Button.mdx
Due: none

feat: extend coverage
  lib/components/formElements/Button/Button.test.tsx
Due: npm run prettier --fix, npm run lint --fix, npm run test:ci

chore(release): v0.22.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: update release version
  .github/workflows/release.yml
Due: none

feat: try to change the release
  .github/workflows/quality-check.yml
  .github/workflows/release.yml
Due: none

chore(release): v0.23.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: fix git hub token position
  .github/workflows/release.yml
Due: none

chore(release): v0.24.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: update documentation
  README.md
  docs/architectural-design.md
  docs/commit-message.md
  docs/lint-config.md
  docs/naming-convention.md
  docs/prettier-config.md
  docs/repository.md
  docs/vscode-utils.md
  lib/components/formElements/Button/stories/Button.mdx
  lib/components/formElements/Button/stories/Button.stories.ts
  stories/1. Intro.mdx
  stories/2. Architectural Design.mdx
  stories/3. Naming Convention.mdx
  stories/4. Commit Message.mdx
  stories/5. Lint Config.mdx
  stories/6. Prettier Config.mdx
  stories/7. Repository Strategy.mdx
  stories/8. VSCode Utils.mdx
Due: npm run prettier --fix, npm run lint --fix, npm run test:ci

docs: formattings
  README.md
Due: none

feat: update documentation
  docs/architectural-design.md
Due: npm run prettier --fix

chore(release): v0.25.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: add icon on the button
  .storybook/preview.tsx
  lib/components/formElements/Button/Button.tsx
  lib/components/formElements/Button/configs/variants.ts
  lib/components/formElements/Button/stories/Button.mdx
  lib/components/formElements/Button/stories/Button.stories.tsx
  lib/components/formElements/Button/stories/IconExample.tsx
Due: npm run prettier --fix, npm run lint --fix, npm run test:ci

feat: add icon on the button
  lib/components/formElements/Button/stories/Button.mdx
Due: none

chore(release): v0.26.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: add icon on documentation
  lib/components/formElements/Button/stories/Button.stories.tsx
Due: npm run prettier --fix, npm run lint --fix, npm run test:ci

Path conditions:
  npm run prettier --fix: (any of: */**/*.{js,jsx,ts,tsx}) or (any of: */**/*.{json,css,scss,md})
  npm run lint --fix: any of: */**/*.{js,jsx,ts,tsx}
  npm run test:ci: any of: */**/*.{js,jsx,ts,tsx}
